.pages-admin {
    width: calc(100% - 80px);
    padding: 40px 40px;

    > .items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        background-color: $background;
        box-shadow: $basic-shadow;

        padding: 10px 20px;

        > a {
            transition: 150ms;

            padding: 8px 20px;

            background-color: $primary;
            outline: none;
            border: none;
            border-radius: 8px;
            font-weight: 500;
            text-decoration: none;

            &:hover {
                background-color: lighten($primary, 15%);
            }
        }
    }
}
